@use '../vars' as *;

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: $color-bg-element;
  cursor: pointer;
  transition: border-color 0.25s;

  height: 50px;
  width: 100%;

  &:hover {
      border-color: $color-accent;
  }

  &:focus,
  &:focus-visible {
      outline: 4px auto -webkit-focus-ring-color;
  }
}

a {
  font-weight: 500;
  color: $color-accent;
  text-decoration: inherit;

  &:hover {
      color: $color-hover;
  }
}
