h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

hr {
    padding: 0 1em;
    width: 100%;
}

ul {
    display: inline-block;
    text-align: left;
    padding-left: 0;
    list-style-position: inside;
}
