@use 'vars' as *;

.card-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1em;
    padding: 1em;
}

.site-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 20px;
}

.icon {
    color: white;
    fill: white;
}

.license-container {
    max-width: 700px;
    margin: 0 auto;
    padding: 2em 1em;
    pre {
        white-space: pre-wrap;
        font-family: inherit;
        line-height: 1.7;
        color: $color-text;
        font-size: 0.95rem;
        text-align: left;
    }
}
