.card-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1em;
    padding: 1em;
}

.site-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 20px;
}

.icon {
    color: white;
    fill: white;
}
