@use 'vars' as *;

:root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: $color-text;
    background-color: $color-bg;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    margin: 0 auto;
    text-align: center;
}

body {
    margin: 0;
    min-width: 75%;
    min-height: 100vh;
    padding-bottom: 1em;
}

html {
    scrollbar-gutter: stable;
}
