@use '../../css/vars' as *;
@use 'gradient' as *;

#name {
    @include grad($clip: true);
}

.sphore-button:hover {
    @include grad;
}

.social-button {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background: $color-bg-element;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 18px;
    color: white;
    padding: 0;
    &:hover {
        @include grad;
    }
}

.about-container {
    display: inline-block;
    text-align: left;
    max-width: 600px;
    width: 100%;
    padding: 0 1.5em;
    box-sizing: border-box;
}
