#root {
    margin: 0 auto;
    text-align: center;
}

.card-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1em;
    padding: 1em;
}

button {
    height: 50px;
    width: 100%;
}

hr {
    width: 105%;
}

.icon {
    color: white;
    fill: white;
}

ul {
    display: inline-block;
    text-align: left;
    padding-left: 0;
    list-style-position: inside;
}

.about-container {
    display: inline-block;
    text-align: left;
    max-width: 600px;
    width: 100%;
}
